---
---

$content-width: 95%;

@import "minima";
@import "page-styles";

.site-title {
  font-weight: 625;
  font-size: 1.75rem;
}

.post-title {
  color: crimson;
  font-size: 25px;
}

h2 {
  font-size: 1.25rem;
  margin-top: 2rem;
}

.translate-button {
  text-align: center;
}

.site-footer .footer-col p {
  margin-bottom: 0.5rem;
}

.site-footer .footer-col {
  margin-bottom: 0;
}