---
---
$content-width: 90%;

@import "minima";

.site-title {
  font-weight: bold;
  font-size: 25px;
}

.post-title {
  color:crimson;
  font-size: 25px;
}

.translate-button {
  text-align: center;
}

.footer-col {
  font: bold;
}